@use '@/assets/scss/variables' as *;

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: $color-primary;

  &-ring,
  &::after {
    box-sizing: border-box;
  }

  &::after {
    display: block;
    width: inherit;
    height: inherit;
    content: ' ';
    border: 2px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    border-radius: 50%;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
